<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips edit</title>
</head>
<body>
    <h1>trips edit page</h1>

    <form action="/trip/<%= trip._id %>?_method=PUT" method="POST">
      <input type="text" name="name" value = "<%= trip.name %> ">
      <input type="text" name="bio" value= "<%= trip.dateStart %> ">
      <input type="text" name="name" value = "<%= trip.dateEnd %> ">
      <input type="text" name="bio" value= "<%= trip.activities %> ">
      <input type="text" name="name" value = "<%= trip.notes %> ">
      <input type="text" name="bio" value= "<%= trip.location %> ">
      <input type="text" name="name" value = "<%= trip.budget %> ">
      <input type="text" name="bio" value= "<%= trip.pictures %> ">
      <input type="text" name="name" value = "<%= trip.db.traveler.find({createdBy:req.session.currentUser.byId}) %> ">
      <input type="submit" value="Update">
  </form>
    
</body>
</html>