<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>trips show</h1>
    <ul>
        <ul>
            <li><%= trip.name %></li>
            <li><%= trip.dateStart %></li>
            <li><%= trip.dateEnd %></li>
        </ul>
        <li>
            <a href="/trip">Trips</a>
            <a href="/trip/<%= trip._id %>/edit ">Edit Trip</a>
        </li>
        <form action="/trip/<%= trip._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
        
      </ul> 
</body>
</html>